<div [formGroup]="form">
  <div class="formgrid grid">
    <div class="col align-content-end">
      <div class="field">
        <label id="nachnameLabel" for="Nachname">
          {{('isyAngularWidgetsDemo.labels.lastName' | translate)}}
        </label>
        <input
          id="Nachname"
          type="text"
          class="w-full"
          pInputText
          [formControlName]="'nachname'"
        >
      </div>
      <div class="field">
        <label id="vornameLabel" class="align-content-end" for="Vorname">
          {{('isyAngularWidgetsDemo.labels.firstName' | translate)}}
        </label>
        <input
          id="Vorname"
          type="text"
          class="w-full"
          pInputText
          [formControlName]="'vorname'"
        >
      </div>
      <div class="field">
        <label id="geschlechtLabel" class="align-content-end" for="Geschlecht">
          {{('isyAngularWidgetsDemo.labels.gender' | translate)}}
        </label>
        <input
          id="Geschlecht"
          type="text"
          class="w-full"
          pInputText
          [formControlName]="'geschlecht'"
        >
      </div>
    </div>
  </div>
</div>
