<p-panel header="Basisdaten" [toggleable]="true" iconPos="start">
  <div class="grid m-0">
    <div class="col-1 text-right align-self-center">
      <label for="basis-nachname">Nachname</label>
    </div>
    <div class="col">
      <input
        id="basis-nachname"
        class="w-full"
        type="text"
        pInputText
        disabled
        [(ngModel)]="person.personalien.nachname"
      >
    </div>
    <div class="col-1 text-right align-self-center">
      <label for="basis-vorname">Vorname </label>
    </div>
    <div class="col">
      <input
        id="basis-vorname"
        class="w-full"
        type="text"
        pInputText
        disabled [(ngModel)]="person.personalien.vorname"
      >
    </div>
    <div class="col-1 text-right align-self-center">
      <label for="basis-geburtsdatum">Geburtsdatum</label>
    </div>
    <div class="col">
      <input
        id="basis-geburtsdatum"
        class="w-full"
        type="text"
        pInputText
        disabled
        [(ngModel)]="person.personalien.geburtsdatum"
      >
    </div>
  </div>
</p-panel>

<p-tabView id="tabview" (onChange)="editable = false">
  <p-tabPanel id="panelPersonalien" header="Personalien">
    <div class="grid m-0">
      <div class="col-1 text-right align-self-center">
        <label for="Nachname">Nachname</label>
      </div>
      <div class="col">
        <input
          id="Nachname"
          class="w-full"
          type="text"
          pInputText
          [(ngModel)]="newNachname"
          #nachname="ngModel"
          [disabled]="!editable"
        >
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="Geburtsname">Geburtsname</label>
      </div>
      <div class="col">
        <input id="Geburtsname"
               class="w-full"
               type="text"
               pInputText
               [(ngModel)]="newGeburtsname"
               [disabled]="!editable"
        >
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="Geburtsname">Geburtsort</label>
      </div>
      <div class="col">
        <input
          id="geburtsort"
          class="w-full"
          type="text"
          pInputText
          [(ngModel)]="newGeburtsort"
          [disabled]="!editable"
        >
      </div>
    </div>

    <div class="grid m-0">
      <div class="col-1 text-right align-self-center">
        <label for="Vorname">Vorname</label>
      </div>
      <div class="col">
        <input id="Vorname"
               class="w-full"
               required minlength="2"
               type="text"
               pInputText
               [disabled]="!editable"
               [(ngModel)]="newVorname"
               #vorname="ngModel"
        >
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="Geschlecht">Geschlecht</label>
      </div>
      <div class="col">
        <p-dropdown
          id="Geschlecht"
          [(ngModel)]="newGeschlecht"
          [filter]="true"
          [filterBy]="'name'"
          [optionLabel]="'name'"
          [optionValue]="'name'"
          [disabled]="!editable"
          [options]="[{name: 'Männlich'}, {name: 'Weiblich'}, {name: 'Divers'}, {name: 'keine Angaben'}]"
        ></p-dropdown>
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="Geburtsdatum">Geburtsdatum</label>
      </div>
      <div class="col">
        <p-calendar
          id="Geburtsdatum"
          dateFormat="dd.mm.yy"
          [(ngModel)]="newGeburtsdatum"
          [disabled]="!editable"
          [showIcon]="true"
        >
        </p-calendar>
      </div>
    </div>

    <div class="grid m-0">
      <div class="col-1 text-right align-self-center">
        <label for="Staatsangehoerigkeit">Staatsangehörigkeit</label>
      </div>
      <div class="col">
        <input
          id="Staatsangehoerigkeit"
          class="w-full"
          type="text" pInputText
          [disabled]="!editable"
          [(ngModel)]="newStaatsangehoerigkeit"
        >
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="Telefonnummer">Telefonnummer</label>
      </div>
      <div class="col">
        <p-inputMask
          id="Telefonnummer"
          type="text"
          [disabled]="!editable"
          [(ngModel)]="newTelefonnummer"
          [style]="" mask="+99 9999 / 9999999"
        >
        </p-inputMask>
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="Einreisedatum">Einreisedatum</label>
      </div>
      <div class="col">
        <isy-incomplete-date
          id="einreisedatum"
          [(ngModel)]="newEinreisedatum"
          [disabled]="!editable"
        >
        </isy-incomplete-date>
      </div>
    </div>

    <div class="grid m-0 mt-5">
      <div class="col">
        <div class="field field-checkbox">
          <p-inputSwitch id="showSecretFields" [(ngModel)]="showSecretFields"></p-inputSwitch>
          <label for="showSecretFields">Zeige geheime Felder </label>
        </div>
      </div>
    </div>

    <div id="divShowSecretFields" *ngIf="showSecretFields">
      <div class="grid m-0">
        <div class="col-1 text-right align-self-center">
          <label for="Ausweispflichtig">Ausweispflichtig</label>
        </div>
        <div class="col-1">
          <p-checkbox
            id="ausweispflichtig"
            [(ngModel)]="newAusweispflichtig"
            [disabled]="!editable"
            [binary]="true"
          >
          </p-checkbox>
        </div>
        <div class="col-1 text-right align-self-center">
          <label class="align-content-end" for="Sicherheitsstufe">Sicherheitsstufe</label>
        </div>
        <div class="col-5">
          <p-inputNumber id="sicherheitsstufe"
                         [(ngModel)]="newSicherheitsstufe"
                         [showButtons]="true"
                         [min]="0" [max]="9"
                         [disabled]="!editable"
          >
          </p-inputNumber>
        </div>
        <div class="col-6">
        </div>
      </div>


      <div class="grid m-0">
        <div class="col-1 text-right align-self-center">
          <label for="Geheimdienstnotizen">Geheimdienstnotizen</label>
        </div>
        <div class="col-5">
          <textarea pInputTextarea
                    id="geheimdienstnotizen"
                    class="w-full"
                    [rows]="5"
                    [(ngModel)]="newGeheimdienstnotizen"
                    [disabled]="!editable"
          >
          </textarea>
        </div>
        <div class="col-6">
        </div>
      </div>
    </div>

    <div class="justify-content-center flex mt-3">
      <button pButton
              *ngIf="!editable"
              id="buttonEdit"
              label="Bearbeiten"
              icon="pi pi-user-edit"
              iconPos="left"
              (click)="editable = true"
      >
      </button>
      <div id="divSaveCancel" *ngIf="editable" class="p-buttonset">
        <button pButton
                id="buttonSave"
                label="Speichern"
                icon="pi pi-save"
                iconPos="left"
                (click)="(vorname.valid && nachname.valid) ? savePersonalien() : showError = true"
        >
        </button>
        <button pButton
                id="buttonCancel"
                label="Abbrechen"
                icon="pi pi-times"
                class="p-button-outlined"
                iconPos="left"
                (click)="cancelEdit()"
        >
        </button>
      </div>
    </div>
    <p-dialog header="Es gibt Fehler in der Eingabe" [(visible)]="showError">
      <div *ngIf="(nachname.errors?.required)">Es ist kein Nachname eingetragen.</div>
      <div *ngIf="nachname.errors?.minlength && !nachname.errors?.required">Der Nachname muss
        mindestens zwei Zeichen
        lang sein.
      </div>
      <div *ngIf="(vorname.errors?.required)">Es ist kein Vorname eingetragen.</div>
      <div *ngIf="vorname.errors?.minlength && !vorname.errors?.required">Der Vorname muss
        mindestens zwei Zeichen
        lang sein.
      </div>
    </p-dialog>
  </p-tabPanel>

  <p-tabPanel id="panelSachverhalte" header="Sachverhalte">
    <p-table [value]="person.sachverhalte.liste" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <p-button label="Sachverhalt hinzufügen/bearbeiten"
                  icon="pi pi-pencil"
                  iconPos="left"
                  (click)="editable = true"
        >
        </p-button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Sachverhalt</th>
          <th scope="col">Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sachverhalt>
        <tr>
          <td>{{sachverhalt}}</td>
          <td>Gelöst</td>
        </tr>
      </ng-template>
    </p-table>
    <demo-dialog-sachverhalte-bearbeiten
      [(visible)]="editable"
      [person]="person"
    >
    </demo-dialog-sachverhalte-bearbeiten>
  </p-tabPanel>
</p-tabView>
