/dist
/tmp
/out-tsc
/bazel-out
**/node_modules/**
/node
*.tgz
chrome-profiler-events*.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.scannerwork/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.DS_Store
Thumbs.db
documentation
*.md
*.yml
*.yaml
/projects/isy-angular-widgets/assets/theme/*.css
/docs
