<h1>PrimeNG Panels</h1>
<h2>Content Organisor</h2>
<div class="grid">
  <div class="col-12 xl:col-6 flex flex-column gap-2">
    <h3>Accordion</h3>
    <p-accordion value="0">
      <p-accordion-panel value="0">
        <p-accordion-header>Header I</p-accordion-header>
        <p-accordion-content>
          <p class="m-0 pt-3">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="1">
        <p-accordion-header>Header II</p-accordion-header>
        <p-accordion-content>
          <p class="m-0 pt-3">
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="2">
        <p-accordion-header>Header III</p-accordion-header>
        <p-accordion-content>
          <p class="m-0 pt-3">
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
            praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
  <div class="col-12 xl:col-6 flex flex-column gap-2">
    <h3>Panel</h3>
    <p-panel header="Panel Header" [toggleable]="true"> Content </p-panel>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <h3>Tabs</h3>
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Header 1</p-tab>
        <p-tab value="1">Header 2</p-tab>
        <p-tab value="2">Header 3</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0"> Content 1 </p-tabpanel>
        <p-tabpanel value="1"> Content 2 </p-tabpanel>
        <p-tabpanel value="2"> Content 3 </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
<p-divider />
<h2>Content Container</h2>
<div class="grid">
  <div class="col-12 xl:col-6 flex flex-column gap-2">
    <h3>Card</h3>
    <p-card header="Card Header" subheader="Card Subheader"> Content </p-card>
  </div>
  <div class="col-12 xl:col-6 flex flex-column gap-2">
    <h3>Fieldset</h3>
    <p-fieldset legend="Fieldset Header"> Content </p-fieldset>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <h3>ScrollPanel</h3>
    <p-scrollpanel [style]="{height: '150px'}">
      <p>
        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
        possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
        ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p>
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
      <p>
        At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo
        labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem
        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat.
      </p>
    </p-scrollpanel>
  </div>
</div>
<p-divider />
<h2>Separator</h2>
<div class="grid">
  <div class="col-12 xl:col-6 flex flex-column gap-2">
    <h3>Splitter</h3>
    <p-splitter [style]="{height: '75px'}" class="mb-8">
      <ng-template #panelLeftSide>
        <div class="flex align-items-center justify-content-center h-full">Left Side</div>
      </ng-template>
      <ng-template #panelRightSide>
        <div class="flex align-items-center justify-content-center h-full">Right Side</div>
      </ng-template>
    </p-splitter>
  </div>
  <div class="col-12 xl:col-6 flex flex-column gap-2">
    <h3>Divider</h3>
    Text above divider.
    <p-divider />
    Text behind divider.
  </div>
</div>
<p-divider />
<h2>Design Pattern</h2>
<div class="grid">
  <div class="col-12 flex flex-column gap-2">
    <h3>Toolbar</h3>
    <p-toolbar>
      <ng-template #start>
        <p-button icon="pi pi-plus" text severity="secondary" />
        <p-button icon="pi pi-print" text severity="secondary" />
        <p-button icon="pi pi-upload" text severity="secondary" />
      </ng-template>
      <ng-template #center>
        <p-iconfield iconPosition="left">
          <p-inputicon class="pi pi-search" />
          <input type="text" pInputText placeholder="Search" />
        </p-iconfield>
      </ng-template>
      <ng-template #end>
        <p-splitbutton label="Save" [model]="option" />
      </ng-template>
    </p-toolbar>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <h3>Stepper</h3>
    <p-stepper [value]="1">
      <p-step-list>
        <p-step [value]="1">Header I</p-step>
        <p-step [value]="2">Header II</p-step>
        <p-step [value]="3">Header II</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content1 let-activateCallback="activateCallback">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
              >
                Content I
              </div>
            </div>
            <div class="flex pt-6 justify-content-end">
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
          <ng-template #content2 let-activateCallback="activateCallback">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
              >
                Content II
              </div>
            </div>
            <div class="flex pt-6 justify-content-between">
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content3 let-activateCallback="activateCallback">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
              >
                Content III
              </div>
            </div>
            <div class="flex pt-6 justify-content-start">
              <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>
</div>
