// Variables adjusted to meet the IsyFact design requirements

// IsyFact Colors
$isyfactLightGrey: #f2f2f2 !default;
$isyfactGrey: #dddddd !default;
$isyfactMediumGrey: #83878c !default;
$isyfactCharcoal: #404040 !default;
$isyfactDarkGrey: #212529 !default;
$isyfactPrimaryColor: #0055b9 !default;
$isyfactPrimaryActive: $isyfactPrimaryColor !default;
$isyfactPrimaryDisabledColor: #7897ae !default;
$isyfactSecondaryColor: #d45c00 !default;

$isyfactAlertColor: #a4252c !default;
$isyfactSuccessColor: #498205 !default;
$isyfactWarningColor: #d47d00 !default;
$isyfactInfoColor: #008edb !default;
$isyfactHelpColor: #8378de !default;

// theme
$themePrimary: #0055b9 !default;
$themeDark: #003a85 !default;

// global
$fontFamily: BundesSans, 'Liberation Sans', sans-serif;
$disabledOpacity: 0.8 !default;

// html label font-weight
$isyfactLabelFontWeight: bold !default;

// input
$isyfactInputPlaceholderTextColor: #83878c !default;

// progress spinner
$isyfactProgressSpinnerStroke: $isyfactPrimaryColor !default;
$isyfactProgressSpinnerAnimation: p-progress-spinner-dash 1.5s ease-in-out infinite !default;

// Hauptfenster
$isyfactSurfaceGround: #faf9f8;
$isyfactSurfaceSection: #fff;
$isyfactHauptfensterBackground: #336794 !default;
