@import './isyfact-variables.scss';
@import './isyfact-liberation-fonts.css';
@import './fluent/fluent-light/theme.scss';

:root {
  font-family: $fontFamily;
  --font-family: $fontFamily;
  --isy-hauptfenster-background: #336794;
}

body {
  margin: 0;
  font-family: $fontFamily;
}

.p-inputgroup .p-inputtext,
.p-fluid .p-inputgroup .p-inputtext,
.p-inputgroup .p-inputwrapper,
.p-inputgroup .p-inputwrapper > .p-component {
  // Workaround: Added because input group child element has default width 1% instead of 100%
  width: 100%;
}

:disabled {
  cursor: not-allowed;
}
