<h1>PrimeNG Forms</h1>
<h2>Input Fields</h2>
<div class="grid">
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="inputtext" [level]="3" label="InputText" ariaLabel="Link zu InputText" />
    <input id="inputText" type="text" pInputText class="w-full" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="inputmask" [level]="3" label="Inputmask" ariaLabel="Link zu Inputmask" />
    <p-inputMask inputId="inputMask" mask="(999) 999-9999" placeholder="(999) 999-9999" styleClass="w-full" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="autocomplete" [level]="3" label="AutoComplete" ariaLabel="Link zu AutoComplete" />
    <p-autocomplete
      inputId="autoComplete"
      optionLabel="name"
      [suggestions]="filteredCountries"
      (completeMethod)="filterCountry($event)"
      placeholder="Enter a country"
      class="w-full"
      inputStyleClass="w-full"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="iconfield" [level]="3" label="IconField" ariaLabel="Link zu IconField" />
    <p-iconfield iconPosition="left">
      <p-inputIcon class="pi pi-search" />
      <input type="text" pInputText placeholder="Search" class="w-full" />
    </p-iconfield>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="inputgroup" [level]="3" label="InputGroup" ariaLabel="Link zu InputGroup" />
    <p-inputgroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input id="inputGroup" pInputText placeholder="User" class="w-full" />
    </p-inputgroup>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="keyfilter" [level]="3" label="KeyFilter (hex)" ariaLabel="Link zu KeyFilter" />
    <input id="keyFilter" pInputText pKeyFilter="hex" class="w-full" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="password" [level]="3" label="Password" ariaLabel="Link zu Password" />
    <p-password inputId="password" [(ngModel)]="password" toggleMask="true" class="w-full" inputStyleClass="w-full" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="calendar" [level]="3" label="Calendar" ariaLabel="Link zu Calendar" />
    <p-datepicker
      inputId="calender"
      iconDisplay="input"
      [showIcon]="true"
      appendTo="body"
      class="w-full"
      ariaLabel="Calender-Picker"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="inputnumber" [level]="3" label="InputNumber" ariaLabel="Link zu InputNumber" />
    <p-inputnumber
      inputId="inputNumber"
      class="w-full"
      ariaLabel="Input Number"
      [showButtons]="true"
      mode="currency"
      currency="EUR"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading
      headingId="cascadeselect"
      [level]="3"
      label="CascadeSelect"
      ariaLabel="Link zu CascadeSelect"
    />
    <p-cascadeselect
      id="cascadeSelect"
      [options]="cities"
      optionLabel="name"
      optionGroupLabel="name"
      [optionGroupChildren]="$any(['states', 'cities'])"
      placeholder="Select a City"
      class="w-full"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="dropdown" [level]="3" label="Dropdown" ariaLabel="Link zu Dropdown" />
    <p-select
      id="dropdown"
      [options]="countries"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      placeholder="Select a Country"
      class="w-full"
      appendTo="body"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="multiselect" [level]="3" label="MultiSelect" ariaLabel="Link zu MultiSelect" />
    <p-multiselect
      id="multiSelect"
      [options]="countries"
      optionLabel="name"
      placeholder="Select Countries"
      appendTo="body"
      class="w-full"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="treeselect" [level]="3" label="TreeSelect" ariaLabel="Link zu TreeSelect" />
    <p-treeselect
      [filter]="true"
      [filterInputAutoFocus]="false"
      inputId="treeSelect"
      [options]="files"
      placeholder="Select Item"
      class="w-full"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="textarea" [level]="3" label="Textarea" ariaLabel="Link zu Textarea" />
    <textarea pTextarea class="w-full" aria-label="Textarea"></textarea>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="inputotp" [level]="3" label="InputOtp" ariaLabel="Link zu InputOtp" />
    <p-inputotp [length]="6" />
  </div>
</div>
<p-divider />
<h2>Status Components</h2>
<div class="grid">
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="checkbox" [level]="3" label="Checkbox" ariaLabel="Link zu Checkbox" />
    <div class="flex flex-column gap-2">
      <p-checkbox label="Cheese" name="pizza" value="Cheese" />
      <p-checkbox label="Mushroom" name="pizza" value="Mushroom" />
      <p-checkbox label="Pepper" name="pizza" value="Pepper" />
      <p-checkbox label="Onion" name="pizza" value="Onion" />
    </div>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="radiobutton" [level]="3" label="RadioButton" ariaLabel="Link zu RadioButton" />
    <div class="flex flex-column gap-2">
      <p-radiobutton label="Cheese" name="pizza" value="Cheese" [(ngModel)]="ingredient" />
      <p-radiobutton label="Mushroom" name="pizza" value="Mushroom" [(ngModel)]="ingredient" />
      <p-radiobutton label="Pepper" name="pizza" value="Pepper" [(ngModel)]="ingredient" />
      <p-radiobutton label="Onion" name="pizza" value="Onion" [(ngModel)]="ingredient" />
    </div>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="knob" [level]="3" label="Knob" ariaLabel="Link zu Knob" />
    <p-knob ariaLabel="Knob" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading
      headingId="tristatecheckbox"
      [level]="3"
      label="TriStateCheckbox"
      ariaLabel="Link zu TriStateCheckbox"
    />
    <p-checkbox inputId="triStateCheckbox" label="TriStateCheckbox" [binary]="true" [indeterminate]="true" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="rating" [level]="3" label="Rating" ariaLabel="Link zu Rating" />
    <p-rating />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="slider" [level]="3" label="Slider" ariaLabel="Link zu Slider" />
    <input type="text" pInputText [(ngModel)]="slider" class="w-full mb-3" />
    <p-slider [(ngModel)]="slider" class="w-full" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="inputswitch" [level]="3" label="InputSwitch" ariaLabel="Link zu InputSwitch" />
    <p-toggleswitch inputId="inputSwitch" ariaLabel="Input Switch" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="togglebutton" [level]="3" label="ToggleButton" ariaLabel="Link zu ToggleButton" />
    <p-togglebutton
      inputId="toggleButton"
      [onIcon]="'pi pi-lock'"
      offIcon="pi pi-lock-open"
      onLabel="Locked"
      offLabel="Unlocked"
    />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="selectbutton" [level]="3" label="SelectButton" ariaLabel="Link zu SelectButton" />
    <p-selectbutton [options]="stateOptions" />
  </div>
</div>
<p-divider />
<h2>Special Components</h2>
<div class="grid mb-3">
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="colorpicker" [level]="3" label="Colorpicker" ariaLabel="Link zu Colorpicker" />
    <p-colorpicker inputId="colorpicker" [(ngModel)]="color" />
    <span class="ml-3">{{ color }}</span>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="chips" [level]="3" label="Chips" ariaLabel="Link zu Chips" />
    <div class="p-fluid">
      <p-autocomplete multiple="true" typeahead="false" inputId="chips" [maxlength]="3" placeholder="Maximum 3 chips" />
    </div>
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="listbox" [level]="3" label="Listbox" ariaLabel="Link zu Listbox" />
    <p-listbox id="listbox" [options]="countries" optionLabel="name" class="w-full" />
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading headingId="editor" [level]="3" label="Editor" ariaLabel="Link zu Editor" />
    <p-editor [(ngModel)]="text" [style]="{height: '320px'}" />
  </div>
</div>
