<div class="card">
  <div class="card-container purple-container overflow-hidden">
    <div class="flex">
      <div class="grid w-full">
        <ng-container *ngFor="let item of widgetMenuItems; let i = index;">
          <div class="col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3">
            <p-card>
              <demo-dashboard-widget
                [menuItems]="widgetMenuItems[i]"
                [backgroundColor]="widgetBackgroundColors[i]"
              >
              </demo-dashboard-widget>
            </p-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
