<div [formGroup]="form">
  <div class="grid mt-5">
    <div class="col-12">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.nachname' | translate }}"
        fieldId="nachname-dialog"
        [control]="form.get('nachname')! | formControl"
        [validationMessages]="{required: ''}"
      >
        <input
          id="nachname-dialog"
          type="text"
          class="w-full"
          pInputText
          [formControlName]="'nachname'"
          (focus)="onFormControlFocus(form.controls.nachname)"
        />
      </isy-form-wrapper>
    </div>
    <div class="col-12">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.vorname' | translate }}"
        fieldId="vorname-dialog"
        [control]="form.get('vorname')! | formControl"
      >
        <input id="vorname-dialog" type="text" class="w-full" pInputText [formControlName]="'vorname'" />
      </isy-form-wrapper>
    </div>
    <div class="col-12">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.geschlecht' | translate }}"
        fieldId="geschlecht-dialog"
        [control]="form.get('geschlecht')! | formControl"
        [validationMessages]="{required: ''}"
      >
        <input
          id="geschlecht-dialog"
          type="text"
          class="w-full"
          pInputText
          [formControlName]="'geschlecht'"
          (focus)="onFormControlFocus(form.controls.geschlecht)"
        />
      </isy-form-wrapper>
    </div>
  </div>
</div>
