<p-tabView>
  <p-tabPanel header="PrimeNG Widgets">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="calender">Calendar</label>
        <p-calendar
          inputId="calender"
          [showIcon]="true"
          [showOnFocus]="false"
          appendTo="body"
          styleClass="w-full"
        ></p-calendar>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="checkbox">Checkbox</label>
        <p-checkbox inputId="checkbox" label="Checkbox" [binary]="true"></p-checkbox>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="colorpicker">Colorpicker</label>
        <p-colorPicker inputId="colorpicker"></p-colorPicker>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputGroup">InputGroup</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input id="inputGroup" pInputText placeholder="User" class="w-full" />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputMask">InputMask</label>
        <p-inputMask inputId="inputMask" mask="(999) 999-9999" placeholder="(999) 999-9999" styleClass="w-full" />
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputSwitch">InputSwitch</label>
        <p-inputSwitch inputId="inputSwitch"></p-inputSwitch>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputTextarea">InputTextarea</label>
        <textarea id="inputTextarea" pInputTextarea class="w-full"></textarea>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputNumber">InputNumber</label>
        <p-inputNumber inputId="inputNumber" styleClass="w-full" />
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputOpt">InputOpt</label>
        <p-inputOtp id="inputOpt"></p-inputOtp>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="knob">Knob</label>
        <p-knob id="knob"></p-knob>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="keyFilter">KeyFilter</label>
        <input id="keyFilter" pInputText pKeyFilter="hex" class="w-full" />
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="password">Password</label>
        <p-password inputId="password" feedback="false"></p-password>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="radioButton">RadioButton</label>
        <p-radioButton inputId="radioButton" label="RadioButton"></p-radioButton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="rating">Rating</label>
        <p-rating id="rating"></p-rating>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="slider">Slider</label>
        <p-slider id="slider" styleClass="w-full"></p-slider>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="triStateCheckbox">TriStateCheckbox</label>
        <p-triStateCheckbox inputId="triStateCheckbox" label="TriStateCheckbox"></p-triStateCheckbox>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="toggleButton">ToggleButton</label>
        <p-toggleButton
          inputId="toggleButton"
          onIcon="pi pi-lock"
          offIcon="pi pi-lock-open"
          onLabel="Locked"
          offLabel="Unlocked"
        ></p-toggleButton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="chips">Chips</label>
        <p-chips inputId="chips"></p-chips>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="iconField">IconField</label>
        <p-iconField id="iconField" iconPosition="left">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input type="text" pInputText placeholder="Search" class="w-full" />
        </p-iconField>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputText">InputText</label>
        <input id="inputText" type="text" pInputText class="w-full" />
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="autoComplete">AutoComplete</label>
        <p-autoComplete
          inputId="autoComplete"
          optionLabel="name"
          [suggestions]="filteredCountries"
          (completeMethod)="filterCountry($event)"
        ></p-autoComplete>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="cascadeSelect">CascadeSelect</label>
        <p-cascadeSelect
          id="cascadeSelect"
          [options]="cities"
          optionLabel="name"
          optionGroupLabel="name"
          [optionGroupChildren]="['states', 'cities']"
          placeholder="Select a City"
          styleClass="w-full"
        ></p-cascadeSelect>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="dropdown">Dropdown</label>
        <p-dropdown
          id="dropdown"
          [options]="countries"
          optionLabel="name"
          placeholder="Select a Country"
          styleClass="w-full"
        ></p-dropdown>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="listbox">Listbox</label>
        <p-listbox
          id="listbox"
          [options]="countries"
          optionLabel="name"
          styleClass="w-full"
        ></p-listbox>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="multiSelect">MultiSelect</label>
        <p-multiSelect
          id="multiSelect"
          [options]="countries"
          optionLabel="name"
          placeholder="Select Countries"
          styleClass="w-full"
        ></p-multiSelect>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="IsyAngular Widgets">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4"></div>
    </div>
  </p-tabPanel>
</p-tabView>
