<p-tabView>
  <p-tabPanel header="PrimeNG Widgets">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="colorpicker">Colorpicker</label>
        <p-colorPicker inputId="colorpicker"></p-colorPicker>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="keyFilter">KeyFilter</label>
        <input id="keyFilter" pInputText pKeyFilter="hex" class="w-full" />
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="password">Password</label>
        <p-password inputId="password" feedback="false"></p-password>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="radioButton">RadioButton</label>
        <p-radioButton inputId="radioButton" label="RadioButton"></p-radioButton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="rating">Rating</label>
        <p-rating id="rating"></p-rating>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="slider">Slider</label>
        <p-slider id="slider" styleClass="w-full"></p-slider>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="triStateCheckbox">TriStateCheckbox</label>
        <p-triStateCheckbox inputId="triStateCheckbox" label="TriStateCheckbox"></p-triStateCheckbox>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="toggleButton">ToggleButton</label>
        <p-toggleButton
          inputId="toggleButton"
          onIcon="pi pi-lock"
          offIcon="pi pi-lock-open"
          onLabel="Locked"
          offLabel="Unlocked"
        ></p-toggleButton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="chips">Chips</label>
        <p-chips inputId="chips"></p-chips>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="iconField">IconField</label>
        <p-iconField id="iconField" iconPosition="left">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input type="text" pInputText placeholder="Search" class="w-full" />
        </p-iconField>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inputText">InputText</label>
        <input id="inputText" type="text" pInputText class="w-full" />
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="autoComplete">AutoComplete</label>
        <p-autoComplete
          inputId="autoComplete"
          optionLabel="name"
          [suggestions]="filteredCountries"
          (completeMethod)="filterCountry($event)"
        ></p-autoComplete>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="cascadeSelect">CascadeSelect</label>
        <p-cascadeSelect
          id="cascadeSelect"
          [options]="cities"
          optionLabel="name"
          optionGroupLabel="name"
          [optionGroupChildren]="['states', 'cities']"
          placeholder="Select a City"
          styleClass="w-full"
        ></p-cascadeSelect>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="dropdown">Dropdown</label>
        <p-dropdown
          id="dropdown"
          [options]="countries"
          optionLabel="name"
          placeholder="Select a Country"
          styleClass="w-full"
        ></p-dropdown>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="listbox">Listbox</label>
        <p-listbox id="listbox" [options]="countries" optionLabel="name" styleClass="w-full"></p-listbox>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="multiSelect">MultiSelect</label>
        <p-multiSelect
          id="multiSelect"
          [options]="countries"
          optionLabel="name"
          placeholder="Select Countries"
          styleClass="w-full"
        ></p-multiSelect>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="selectButton">SelectButton</label>
        <p-selectButton id="selectButton" [options]="stateOptions"></p-selectButton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="treeSelect">TreeSelect</label>
        <p-treeSelect
          inputId="treeSelect"
          [options]="files"
          placeholder="Select Item"
          containerStyleClass="w-full"
        ></p-treeSelect>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="button">Button </label>
        <p-button id="button" label="Primary Colored Button"></p-button>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="splitButton">SplitButton</label>
        <p-splitButton id="splitButton" label="Save" icon="pi pi-save" [model]="option"></p-splitButton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="speedDial">SpeedDial</label>
        <p-speedDial id="speedDial" [model]="option" direction="right"></p-speedDial>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="scroller">Scroller</label>
        <p-scroller id="scroller" [items]="countries" [itemSize]="50" scrollHeight="200px" styleClass="w-full">
          <ng-template pTemplate="item" let-country>
            <div style="height: 50px">{{ country.name }}</div>
          </ng-template>
        </p-scroller>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="timeline">Timeline</label>
        <p-timeline id="timeline" [value]="deliveryStatus">
          <ng-template let-delivery pTemplate="opposite"> {{ delivery.status }} </ng-template>
          <ng-template let-delivery pTemplate="content"> {{ delivery.date }} </ng-template>
        </p-timeline>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="tree">Tree</label>
        <p-tree id="tree" [value]="files" class="w-full"></p-tree>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="confirmDialog">ConfirmDialog</label>
        <p-button (onClick)="confirmDialog($event)" label="Save"></p-button>
        <p-toast></p-toast>
        <p-confirmDialog key="confirmDialog"></p-confirmDialog>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="confirmPopup">ConfirmPopup</label>
        <p-button (onClick)="confirmPopup($event)" label="Save"></p-button>
        <p-toast></p-toast>
        <p-confirmPopup key="confirmPopup"></p-confirmPopup>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="dialog">Dialog</label>
        <p-button (onClick)="showDialog()" label="Dialog" />
        <p-dialog id="dialog" header="Dialog" [modal]="true" [(visible)]="visibleDialog" [style]="{width: '25rem'}">
          <div class="flex flex-column gap-2">Content</div>
          <div class="flex justify-content-end">
            <p-button label="Ok" (onClick)="closeDialog()"></p-button>
          </div>
        </p-dialog>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="overlayPanel">OverlayPanel</label>
        <p-button (onClick)="overlayPanel.toggle($event)" label="OverlayPanel"></p-button>
        <p-overlayPanel id="overlayPanel" #overlayPanel>
          <div class="flex flex-column gap-2">Content</div>
        </p-overlayPanel>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="sidebar">Sidebar</label>
        <p-button (onClick)="showSidebar()" label="Sidebar"></p-button>
        <p-sidebar id="sidebar" [(visible)]="visibleSidebar" position="left">
          <h1>Sidebar</h1>
          Content
        </p-sidebar>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="tooltip">Tooltip</label>
        <input
          id="tooltip"
          type="text"
          pInputText
          pTooltip="Enter something"
          tooltipPosition="bottom"
          placeholder="Tooltip"
          class="w-full"
        />
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="fileUpload">FileUpload</label>
        <p-fileUpload
          id="fileUpload"
          mode="basic"
          chooseIcon="pi pi-upload"
          chooseLabel="FileUpload"
          name="myfile"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*,.pdf,.txt"
          [maxFileSize]="1000000"
          (onUpload)="onUpload($event)"
        ></p-fileUpload>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="contextMenu">ContextMenu</label>
        <img #logo src="assets/default-application-logo.jpg" alt="Logo" aria-haspopup="true" class="w-full" />
        <p-contextMenu id="contextMenu" [target]="logo" [model]="contextMenuOption"></p-contextMenu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="menu">Menu</label>
        <p-menu id="menu" [model]="option" styleClass="w-full"></p-menu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="panelMenu">PanelMenu</label>
        <p-panelMenu id="panelMenu" [model]="fileContainerOptions"></p-panelMenu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="tieredMenu">TieredMenu</label>
        <p-tieredMenu id="tieredMenu" [model]="fileContainerOptions"></p-tieredMenu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="messages">Messages</label>
        <p-messages id="messages" [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="toast">Toast</label>
        <p-button (onClick)="showToastMessage()" label="Show" />
        <p-toast key="toast"></p-toast>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="avatar">Avatar with badge</label>
        <p-avatar id="avatar" icon="pi pi-user" pBadge value="4"></p-avatar>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="badge">Badge</label>
        <p-badge id="badge" value="2"></p-badge>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="blockUI">BlockUI</label>
        <div class="flex justify-content-start gap-2">
          <p-button label="Block" (onClick)="blockContent()" />
          <p-button label="Unblock" (onClick)="unblockContent()" />
        </div>
        <p-blockUI id="blockUI" [target]="blockableContent" [blocked]="blockedContent">
          <i class="pi pi-lock" style="font-size: 3rem"></i>
        </p-blockUI>
        <p-panel #blockableContent header="Header">
          <p>Content</p>
        </p-panel>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="chip">Chip</label>
        <p-chip label="Apple" icon="pi pi-apple" [removable]="true"></p-chip>
        <p-chip label="Facebook" icon="pi pi-facebook" [removable]="true"></p-chip>
        <p-chip label="Google" icon="pi pi-google" [removable]="true"></p-chip>
        <p-chip label="Microsoft" icon="pi pi-microsoft" [removable]="true"></p-chip>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inplace">Inplace</label>
        <p-inplace id="inplace">
          <ng-template pTemplate="display"> View Content </ng-template>
          <ng-template pTemplate="content"> Inplace Content </ng-template>
        </p-inplace>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="scrollTop">ScrollTop</label>
        <div style="height: 150px; overflow: auto">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Vitae et leo duis ut diam. Ultricies mi quis hendrerit dolor magna eget est lorem. Amet
            consectetur adipiscing elit ut. Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis
            hendrerit dolor magna. Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec et.
            Tellus orci ac auctor augue mauris. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a.
            Tincidunt arcu non sodales neque sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam
            ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit amet dictum sit amet. Tristique senectus et netus
            et malesuada fames ac turpis egestas. Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas
            ultricies mi eget mauris. Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est
            ultricies integer. Mattis aliquam faucibus purus in massa tempor nec.
          </p>
          <p-scrollTop id="scrollTop" target="parent" [threshold]="10" icon="pi pi-arrow-up"></p-scrollTop>
        </div>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="skeleton">Skeleton</label>
        <p-skeleton borderRadius="16px"></p-skeleton>
        <p-skeleton width="10rem"></p-skeleton>
        <p-skeleton height="2rem"></p-skeleton>
        <p-skeleton width="10rem" height="4rem" borderRadius="16px"></p-skeleton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="progressSpinner">ProgressSpinner</label>
        <p-progressSpinner id="progressSpinner"></p-progressSpinner>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="tag">Tag</label>
        <p-tag value="Primary"></p-tag>
        <p-tag severity="success" value="Success"></p-tag>
        <p-tag severity="info" value="Info"></p-tag>
        <p-tag severity="warning" value="Warning"></p-tag>
        <p-tag severity="danger" value="Danger"></p-tag>
      </div>
    </div>
    <div class="flex flex-column gap-2">
      <label for="organizationChart">OrganizationChart</label>
      <p-organizationChart id="organizationChart" [value]="organization"></p-organizationChart>
    </div>
    <div class="flex flex-column gap-2">
      <label for="paginator">Paginator</label>
      <p-paginator id="paginator" [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[5, 10, 20]"></p-paginator>
    </div>
    <div class="flex flex-column gap-2">
      <label for="table">Table</label>
      <p-table
        id="table"
        [value]="products"
        selectionMode="single"
        [(selection)]="selectedProduct"
        styleClass="p-datatable-striped"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="code" scope="col">
              Code
              <p-columnFilter field="code" type="text" display="menu"></p-columnFilter>
              <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="name" scope="col">
              Name
              <p-columnFilter field="name" type="text" display="menu"></p-columnFilter>
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="category" scope="col">
              Category
              <p-columnFilter field="category" type="text" display="menu"></p-columnFilter>
              <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="price" scope="col">
              Price
              <p-columnFilter field="price" type="numeric" currency="EUR" display="menu" />
              <p-sortIcon field="price"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr [pSelectableRow]="product">
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price | currency: 'EUR' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="flex flex-column gap-2">
      <label for="treeTable">TreeTable</label>
      <p-treeTable id="treeTable" [value]="itSolutions" selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th ttSortableColumn="name" scope="col">
              Name
              <p-treeTableSortIcon field="name"></p-treeTableSortIcon>
            </th>
            <th ttSortableColumn="size" scope="col">
              Size
              <p-treeTableSortIcon field="size"></p-treeTableSortIcon>
            </th>
            <th ttSortableColumn="type" scope="col">
              Type
              <p-treeTableSortIcon field="type"></p-treeTableSortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-itSolution let-subSolution="rowData">
          <tr [ttRow]="itSolution" [ttSelectableRow]="itSolution">
            <td>
              <p-treeTableToggler [rowNode]="itSolution"></p-treeTableToggler>
              {{ subSolution.name }}
            </td>
            <td>{{ subSolution.size }}</td>
            <td>{{ subSolution.type }}</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <div class="flex flex-column gap-2">
      <label for="accordion">Accordion</label>
      <p-accordion id="accordion">
        <p-accordionTab header="Header 1"> Content 1 </p-accordionTab>
        <p-accordionTab header="Header 2"> Content 2 </p-accordionTab>
        <p-accordionTab header="Header 3"> Content 3 </p-accordionTab>
      </p-accordion>
    </div>
    <div class="flex flex-column gap-2">
      <label for="card">Card</label>
      <p-card id="card" header="Card"> Content </p-card>
    </div>
    <div class="flex flex-column gap-2">
      <label for="divider">Divider</label>
      Text above divider.
      <p-divider id="divider"></p-divider>
      Text behind divider.
    </div>
    <div class="flex flex-column gap-2">
      <label for="fieldset">Fieldset</label>
      <p-fieldset id="fieldset" legend="Fieldset"> Content </p-fieldset>
    </div>
    <div class="flex flex-column gap-2">
      <label for="panel">Panel</label>
      <p-panel id="panel" header="Panel"> Content </p-panel>
    </div>
    <div class="flex flex-column gap-2">
      <label for="splitter">Splitter</label>
      <p-splitter id="splitter" [style]="{height: '75px'}">
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">Left Side</div>
        </ng-template>
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">Right Side</div>
        </ng-template>
      </p-splitter>
    </div>
    <div class="flex flex-column gap-2">
      <label for="stepper">Stepper</label>
      <p-stepper id="stepper">
        <p-stepperPanel header="Header I">
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
              >
                Content I
              </div>
            </div>
            <div class="flex pt-4 justify-content-end">
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
            </div>
          </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header II">
          <ng-template
            pTemplate="content"
            let-prevCallback="prevCallback"
            let-nextCallback="nextCallback"
            let-index="index"
          >
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
              >
                Content II
              </div>
            </div>
            <div class="flex pt-4 justify-content-between">
              <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
              <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
            </div>
          </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header III">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
              >
                Content III
              </div>
            </div>
            <div class="flex pt-4 justify-content-start">
              <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
            </div>
          </ng-template>
        </p-stepperPanel>
      </p-stepper>
    </div>
    <div class="flex flex-column gap-2">
      <label for="scrollPanel">ScrollPanel</label>
      <p-scrollPanel id="scrollPanel" [style]="{height: '150px'}">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
          modi.
        </p>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
          facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
          impedit quo minus.
        </p>
      </p-scrollPanel>
    </div>
    <div class="flex flex-column gap-2">
      <label for="tabView">TabView</label>
      <p-tabView id="tabView">
        <p-tabPanel header="Header 1"> Content 1 </p-tabPanel>
        <p-tabPanel header="Header 2"> Content 2 </p-tabPanel>
        <p-tabPanel header="Header 3"> Content 3 </p-tabPanel>
      </p-tabView>
    </div>
    <div class="flex flex-column gap-2">
      <label for="toolbar">Toolbar</label>
      <p-toolbar id="toolbar">
        <div class="p-toolbar-group-start">
          <p-button icon="pi pi-print" class="mr-2" />
          <p-button icon="pi pi-upload"></p-button>
        </div>
        <div class="p-toolbar-group-center">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
          </span>
        </div>
        <div class="p-toolbar-group-end">
          <p-splitButton label="Save" icon="pi pi-check" [model]="option"></p-splitButton>
        </div>
      </p-toolbar>
    </div>
    <div class="flex flex-column gap-2">
      <label for="breadcrumb">Breadcrumb</label>
      <p-breadcrumb id="breadcrumb" [home]="{icon: 'pi pi-home'}" [model]="electronics"></p-breadcrumb>
    </div>
    <div class="flex flex-column gap-2">
      <label for="menuBar">MenuBar</label>
      <p-menubar id="menuBar" [model]="menuBarOption"></p-menubar>
    </div>
    <div class="flex flex-column gap-2">
      <label for="megaMenu">MegaMenu</label>
      <p-megaMenu id="megaMenu" [model]="megaMenuOptions"></p-megaMenu>
    </div>
    <div class="flex flex-column gap-2">
      <label for="steps">Steps</label>
      <p-steps id="steps" [model]="stepItem"></p-steps>
    </div>
    <div class="flex flex-column gap-2">
      <label for="tabMenu">TabMenu</label>
      <p-tabMenu id="tabMenu" [model]="tabMenuOption"></p-tabMenu>
    </div>
    <div class="flex flex-column gap-2">
      <label for="meterGroup">MeterGroup</label>
      <p-meterGroup id="meterGroup" [value]="storageStatus"></p-meterGroup>
    </div>
    <div class="flex flex-column gap-2">
      <label for="progressBar">ProgressBar</label>
      <p-progressBar id="progressBar" [value]="50"></p-progressBar>
    </div>
    <div class="flex flex-column gap-2">
      <label for="terminal">Terminal</label>
      <p-terminal
        id="terminal"
        welcomeMessage="Welcome to PrimeNG: Enter 'date' to display the current date"
        prompt="primeng $"
      ></p-terminal>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Interactive Components">
    <p-divider></p-divider>
    <h2>Status Components</h2>
    <div class="grid">
      <div class="col-12 md:col-6 xl:col-4 flex-column gap-2">
        <h3>Checkbox</h3>
        <div class="flex flex-column gap-2">
          <p-checkbox [(ngModel)]="pizza" label="Cheese" name="pizza" value="Cheese"></p-checkbox>
          <p-checkbox [(ngModel)]="pizza" label="Mushroom" name="pizza" value="Mushroom"></p-checkbox>
          <p-checkbox [(ngModel)]="pizza" label="Pepper" name="pizza" value="Pepper"></p-checkbox>
          <p-checkbox [(ngModel)]="pizza" label="Onion" name="pizza" value="Onion"></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex-column gap-2">
        <h3>InputSwitch</h3>
        <p-inputSwitch inputId="inputSwitch" ariaLabel="Input Switch"></p-inputSwitch>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex-column gap-2">
        <h3>Knob</h3>
        <p-knob ariaLabel="Knob"></p-knob>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Buttons">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4"></div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="IsyAngular Widgets">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4"></div>
    </div>
  </p-tabPanel>
</p-tabView>
