<p-tabView>
  <p-tabPanel header="PrimeNG Widgets">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="fileUpload">FileUpload</label>
        <p-fileUpload
          id="fileUpload"
          mode="basic"
          chooseIcon="pi pi-upload"
          chooseLabel="FileUpload"
          name="myfile"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*,.pdf,.txt"
          [maxFileSize]="1000000"
          (onUpload)="onUpload($event)"
        ></p-fileUpload>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="contextMenu">ContextMenu</label>
        <img #logo src="assets/default-application-logo.jpg" alt="Logo" aria-haspopup="true" class="w-full" />
        <p-contextMenu id="contextMenu" [target]="logo" [model]="contextMenuOption"></p-contextMenu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="menu">Menu</label>
        <p-menu id="menu" [model]="option" styleClass="w-full"></p-menu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="panelMenu">PanelMenu</label>
        <p-panelMenu id="panelMenu" [model]="fileContainerOptions"></p-panelMenu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="tieredMenu">TieredMenu</label>
        <p-tieredMenu id="tieredMenu" [model]="fileContainerOptions"></p-tieredMenu>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="messages">Messages</label>
        <p-messages id="messages" [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="toast">Toast</label>
        <p-button (onClick)="showToastMessage()" label="Show" />
        <p-toast key="toast"></p-toast>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="avatar">Avatar with badge</label>
        <p-avatar id="avatar" icon="pi pi-user" pBadge value="4"></p-avatar>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="badge">Badge</label>
        <p-badge id="badge" value="2"></p-badge>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="blockUI">BlockUI</label>
        <div class="flex justify-content-start gap-2">
          <p-button label="Block" (onClick)="blockContent()" />
          <p-button label="Unblock" (onClick)="unblockContent()" />
        </div>
        <p-blockUI id="blockUI" [target]="blockableContent" [blocked]="blockedContent">
          <i class="pi pi-lock" style="font-size: 3rem"></i>
        </p-blockUI>
        <p-panel #blockableContent header="Header">
          <p>Content</p>
        </p-panel>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="chip">Chip</label>
        <p-chip label="Apple" icon="pi pi-apple" [removable]="true"></p-chip>
        <p-chip label="Facebook" icon="pi pi-facebook" [removable]="true"></p-chip>
        <p-chip label="Google" icon="pi pi-google" [removable]="true"></p-chip>
        <p-chip label="Microsoft" icon="pi pi-microsoft" [removable]="true"></p-chip>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="inplace">Inplace</label>
        <p-inplace id="inplace">
          <ng-template pTemplate="display"> View Content </ng-template>
          <ng-template pTemplate="content"> Inplace Content </ng-template>
        </p-inplace>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="scrollTop">ScrollTop</label>
        <div style="height: 150px; overflow: auto">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Vitae et leo duis ut diam. Ultricies mi quis hendrerit dolor magna eget est lorem. Amet
            consectetur adipiscing elit ut. Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis
            hendrerit dolor magna. Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec et.
            Tellus orci ac auctor augue mauris. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a.
            Tincidunt arcu non sodales neque sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam
            ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit amet dictum sit amet. Tristique senectus et netus
            et malesuada fames ac turpis egestas. Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas
            ultricies mi eget mauris. Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est
            ultricies integer. Mattis aliquam faucibus purus in massa tempor nec.
          </p>
          <p-scrollTop id="scrollTop" target="parent" [threshold]="10" icon="pi pi-arrow-up"></p-scrollTop>
        </div>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="skeleton">Skeleton</label>
        <p-skeleton borderRadius="16px"></p-skeleton>
        <p-skeleton width="10rem"></p-skeleton>
        <p-skeleton height="2rem"></p-skeleton>
        <p-skeleton width="10rem" height="4rem" borderRadius="16px"></p-skeleton>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="progressSpinner">ProgressSpinner</label>
        <p-progressSpinner id="progressSpinner"></p-progressSpinner>
      </div>
      <div class="col-12 md:col-6 xl:col-4 flex flex-column gap-2">
        <label for="tag">Tag</label>
        <p-tag value="Primary"></p-tag>
        <p-tag severity="success" value="Success"></p-tag>
        <p-tag severity="info" value="Info"></p-tag>
        <p-tag severity="warning" value="Warning"></p-tag>
        <p-tag severity="danger" value="Danger"></p-tag>
      </div>
    </div>
    <div class="flex flex-column gap-2">
      <label for="breadcrumb">Breadcrumb</label>
      <p-breadcrumb id="breadcrumb" [home]="{icon: 'pi pi-home'}" [model]="electronics"></p-breadcrumb>
    </div>
    <div class="flex flex-column gap-2">
      <label for="menuBar">MenuBar</label>
      <p-menubar id="menuBar" [model]="menuBarOption"></p-menubar>
    </div>
    <div class="flex flex-column gap-2">
      <label for="megaMenu">MegaMenu</label>
      <p-megaMenu id="megaMenu" [model]="megaMenuOptions"></p-megaMenu>
    </div>
    <div class="flex flex-column gap-2">
      <label for="steps">Steps</label>
      <p-steps id="steps" [model]="stepItem"></p-steps>
    </div>
    <div class="flex flex-column gap-2">
      <label for="tabMenu">TabMenu</label>
      <p-tabMenu id="tabMenu" [model]="tabMenuOption"></p-tabMenu>
    </div>
    <div class="flex flex-column gap-2">
      <label for="meterGroup">MeterGroup</label>
      <p-meterGroup id="meterGroup" [value]="storageStatus"></p-meterGroup>
    </div>
    <div class="flex flex-column gap-2">
      <label for="progressBar">ProgressBar</label>
      <p-progressBar id="progressBar" [value]="50"></p-progressBar>
    </div>
    <div class="flex flex-column gap-2">
      <label for="terminal">Terminal</label>
      <p-terminal
        id="terminal"
        welcomeMessage="Welcome to PrimeNG: Enter 'date' to display the current date"
        prompt="primeng $"
      ></p-terminal>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Buttons">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4"></div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="IsyAngular Widgets">
    <div class="grid mt-3">
      <div class="col-12 md:col-6 xl:col-4"></div>
    </div>
  </p-tabPanel>
</p-tabView>
