<p-dialog
  *ngIf="person"
  [header]="('isyAngularWidgetsDemo.actions.addOrEditFact' | translate)"
  [(visible)]="visible"
>
  <p-table [value]="newSachverhalteListe" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">
          {{('isyAngularWidgetsDemo.labels.sachverhalte' | translate)}}
        </th>
        <th scope="col">
          {{('isyAngularWidgetsDemo.labels.state' | translate)}}
        </th>
        <th scope="col">
          {{('isyAngularWidgetsDemo.actions.delete' | translate)}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sachverhalt>
      <tr>
        <td>{{sachverhalt}}</td>
        <td>
          {{('isyAngularWidgetsDemo.labels.solved' | translate)}}
        </td>
        <td>
          <button pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded"
                  (click)="deleteSachverhalt(sachverhalt)"
          >
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="p-inputgroup">
    <input pInputText
           type="text"
           [placeholder]="('isyAngularWidgetsDemo.labels.newEntryPlaceholder' | translate)"
           [(ngModel)]="newSachverhalt"
    >
    <button pButton
            type="button"
            pRipple
            icon="pi pi-plus"
            (click)="createSachverhalt(newSachverhalt)"
    >
    </button>
  </div>
  <ng-template pTemplate="footer">
    <button pButton (click)="saveSachverhalte()">OK</button>
    <button pButton class="p-button-outlined" (click)="closeDialog()">
      {{('isyAngularWidgetsDemo.actions.cancel' | translate)}}
    </button>
  </ng-template>
</p-dialog>
