@if (person) {
  <p-dialog
    [header]="'isyAngularWidgetsDemo.actions.addOrEditFact' | translate"
    [(visible)]="visible"
    [closeAriaLabel]="'isyAngularWidgetsDemo.aria.close' | translate"
    [closable]="true"
    (onHide)="closeDialog()"
  >
    <p-table [value]="newSachverhalteListe" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">
            {{ 'isyAngularWidgetsDemo.labels.sachverhalte' | translate }}
          </th>
          <th scope="col">
            {{ 'isyAngularWidgetsDemo.labels.state' | translate }}
          </th>
          <th scope="col">
            {{ 'isyAngularWidgetsDemo.actions.delete' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sachverhalt>
        <tr>
          <td>{{ sachverhalt }}</td>
          <td>
            {{ 'isyAngularWidgetsDemo.labels.solved' | translate }}
          </td>
          <td>
            <p-button
              styleClass="sachverhalte-button"
              severity="danger"
              icon="pi pi-trash"
              rounded="true"
              outlined="true"
              (onClick)="deleteSachverhalt(sachverhalt)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-inputgroup>
      <input
        pInputText
        type="text"
        [placeholder]="'isyAngularWidgetsDemo.labels.newEntryPlaceholder' | translate"
        [(ngModel)]="newSachverhalt"
      />
      <p-inputgroup-addon>
        <p-button outlined="true" icon="pi pi-plus" (onClick)="createSachverhalt(newSachverhalt)"></p-button
      ></p-inputgroup-addon>
    </p-inputgroup>
    <ng-template pTemplate="footer">
      <p-button outlined="true" (onClick)="closeDialog()">
        {{ 'isyAngularWidgetsDemo.actions.cancel' | translate }}
      </p-button>
      <p-button styleClass="ok-button" id="ok-button" (onClick)="saveSachverhalte()">
        {{ 'isyAngularWidgetsDemo.actions.save' | translate }}
      </p-button>
    </ng-template>
  </p-dialog>
}
