<p-panel
  [header]="'isyAngularWidgetsDemo.menuItems.searchObject' | translate"
  [toggleable]="true"
  [(collapsed)]="isCollapsed"
  iconPos="start"
>
  <ng-template pTemplate="headericons">
    <i class="{{ isCollapsed ? 'pi pi-chevron-right' : 'pi pi-chevron-down' }}"></i>
  </ng-template>
  <div class="grid mt-3">
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.id' | translate }}"
        fieldId="id"
        [control]="idForm.get('id')! | formControl"
      >
        <input pInputText id="id" type="text" class="w-full" [(ngModel)]="person.id" />
      </isy-form-wrapper>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.vorname' | translate }}"
        fieldId="first-name"
        [control]="persoenlicheInformationenForm.get('vorname')! | formControl"
      >
        <input id="first-name" type="text" pInputText isyInputChar [(ngModel)]="person.personalien.vorname" />
      </isy-form-wrapper>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.nachname' | translate }}"
        fieldId="last-name"
        [control]="persoenlicheInformationenForm.get('nachname')! | formControl"
      >
        <input id="last-name" type="text" pInputText isyInputChar [(ngModel)]="person.personalien.nachname" />
      </isy-form-wrapper>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.geburtsname' | translate }}"
        fieldId="birth-name"
        [control]="geburtsInformationenForm.get('geburtsname')! | formControl"
      >
        <input id="birth-name" class="w-full" type="text" pInputText [(ngModel)]="person.personalien.geburtsname" />
      </isy-form-wrapper>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.geburtsdatum' | translate }}"
        fieldId="birth-date"
        [control]="geburtsInformationenForm.get('geburtsdatum')! | formControl"
      >
        <p-calendar
          inputId="birth-date"
          dateFormat="dd.mm.yy"
          [(ngModel)]="person.personalien.geburtsdatum"
          [iconDisplay]="'input'"
          [showIcon]="true"
          styleClass="w-full"
          appendTo="body"
        >
        </p-calendar>
      </isy-form-wrapper>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.geburtsort' | translate }}"
        fieldId="birth-place"
        [control]="geburtsInformationenForm.get('geburtsort')! | formControl"
      >
        <input id="birth-place" class="w-full" type="text" pInputText [(ngModel)]="person.personalien.geburtsort" />
      </isy-form-wrapper>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.gender' | translate }}"
        fieldId="gender"
        [control]="persoenlicheInformationenForm.get('gender')! | formControl"
      >
        <input id="gender" class="w-full" type="text" pInputText [(ngModel)]="person.personalien.gender" />
      </isy-form-wrapper>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
      <isy-form-wrapper
        label="{{ 'isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate }}"
        fieldId="nationality"
        [control]="geburtsInformationenForm.get('staatsangehoerigkeit')! | formControl"
      >
        <p-dropdown
          inputId="nationality"
          [placeholder]="'isyAngularWidgetsDemo.labels.chooseCountry' | translate"
          [ariaLabel]="'isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate"
          [options]="laender"
          [(ngModel)]="person.personalien.staatsangehoerigkeit"
          [showClear]="person.personalien.staatsangehoerigkeit === '' ? false : true"
          styleClass="w-full"
          appendTo="body"
        >
          @if (person.personalien.staatsangehoerigkeit) {
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value">
                <div>{{ person.personalien.staatsangehoerigkeit }}</div>
              </div>
            </ng-template>
          }
          <ng-template let-land pTemplate="item">
            <div class="country-item">
              <span>{{ land }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </isy-form-wrapper>
    </div>
  </div>

  <div class="flex justify-content-end p-2">
    <p-button
      id="search-button"
      class="mr-1"
      [label]="'isyAngularWidgetsDemo.actions.search' | translate"
      [iconPos]="'left'"
      [icon]="'pi pi-search'"
      (onClick)="findPerson()"
    >
    </p-button>
    <p-button
      [label]="'isyAngularWidgetsDemo.actions.clearSeebach' | translate"
      [iconPos]="'left'"
      [disabled]="!enableClearSearch()"
      (onClick)="clearSearch()"
      [outlined]="true"
    >
    </p-button>
  </div>
</p-panel>

@if (personen$ | async; as personen) {
  <demo-result-list
    [personen]="personen"
    [selectedObject]="selectedPerson"
    (edit)="editSelectedPerson($event)"
    (create)="openAddNewObjectDialog()"
    [loading]="tbLoadingStatus"
  >
  </demo-result-list>
}

<p-dialog
  [header]="'isyAngularWidgetsDemo.editObjectDialog.header' | translate"
  [closeAriaLabel]="'isyAngularWidgetsDemo.aria.close' | translate"
  [(visible)]="openEditForm"
  [modal]="modal"
  [style]="{
    width: width + 'vw'
  }"
>
  @if (selectedPerson && editForm) {
    <div [formGroup]="editForm">
      <div class="grid mt-3">
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.id' | translate }}"
            fieldId="edit-id"
            [control]="editForm.get('editID')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <input id="edit-id" class="w-full" type="text" pInputText [formControlName]="'editID'" />
          </isy-form-wrapper>
        </div>
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.vorname' | translate }}"
            fieldId="edit-vorname"
            [control]="editForm.get('editVorname')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <input id="edit-vorname" class="w-full" type="text" pInputText [formControlName]="'editVorname'" />
          </isy-form-wrapper>
        </div>
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.nachname' | translate }}"
            fieldId="edit-nachname"
            [control]="editForm.get('editNachname')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <input id="edit-nachname" class="w-full" type="text" pInputText [formControlName]="'editNachname'" />
          </isy-form-wrapper>
        </div>
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.geburtsname' | translate }}"
            fieldId="edit-geburtsname"
            [control]="editForm.get('editGeburtsname')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <input id="edit-geburtsname" class="w-full" type="text" pInputText [formControlName]="'editGeburtsname'" />
          </isy-form-wrapper>
        </div>
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.geburtsdatum' | translate }}"
            fieldId="edit-geburtsdatum"
            [control]="editForm.get('editGeburtsdatum')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <p-calendar
              inputId="edit-geburtsdatum"
              dateFormat="dd.mm.yy"
              [formControlName]="'editGeburtsdatum'"
              [iconDisplay]="'input'"
              [showIcon]="true"
              styleClass="w-full"
              appendTo="body"
            >
            </p-calendar>
          </isy-form-wrapper>
        </div>
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.geburtsort' | translate }}"
            fieldId="edit-geburtsort"
            [control]="editForm.get('editGeburtsort')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <input id="edit-geburtsort" class="w-full" type="text" pInputText [formControlName]="'editGeburtsort'" />
          </isy-form-wrapper>
        </div>
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.gender' | translate }}"
            fieldId="edit-gender"
            [control]="editForm.get('editGender')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <input id="edit-gender" class="w-full" type="text" pInputText [formControlName]="'editGender'" />
          </isy-form-wrapper>
        </div>
        <div class="col-12 xl:col-6">
          <isy-form-wrapper
            label="{{ 'isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate }}"
            fieldId="edit-nationality"
            [control]="editForm.get('editStaatsangehoerigkeit')! | formControl"
            [validationMessages]="{required: ''}"
          >
            <p-dropdown
              inputId="edit-nationality"
              [placeholder]="'isyAngularWidgetsDemo.labels.chooseCountry' | translate"
              [ariaLabel]="'isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate"
              [options]="laender"
              [showClear]="editForm.controls.editStaatsangehoerigkeit.value === '' ? false : true"
              [formControlName]="'editStaatsangehoerigkeit'"
              [editable]="true"
              styleClass="w-full"
              appendTo="body"
            >
              <ng-template pTemplate="selectedItem">
                @if (selectedPerson!.personalien.staatsangehoerigkeit) {
                  <div class="country-item country-item-value">
                    <div>{{ selectedPerson!.personalien.staatsangehoerigkeit }}</div>
                  </div>
                }
              </ng-template>
              <ng-template let-land pTemplate="item">
                <div class="country-item">
                  <span>{{ land }}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </isy-form-wrapper>
        </div>
      </div>
      <div class="flex justify-content-end flex-wrap card-container pt-2">
        <p-button
          class="flex align-items-center justify-content-center mr-1"
          [label]="'isyAngularWidgetsDemo.actions.save' | translate"
          (onClick)="saveChanges()"
          [disabled]="!editForm.valid || !allowSave"
        >
        </p-button>
        <p-button
          class="flex align-items-center justify-content-center mr-1"
          [label]="'isyAngularWidgetsDemo.actions.close' | translate"
          (onClick)="displayEditDialog()"
        >
        </p-button>
      </div>
    </div>
  }
</p-dialog>

@if (openWizard) {
  <isy-wizard
    [width]="50"
    [height]="50"
    [headerTitle]="'isyAngularWidgetsDemo.createObjectDialog.header' | translate"
    [allowNext]="isFormValid"
    [(isVisible)]="openWizard"
    (isVisibleChange)="onWizardClose($event)"
    (stepperIndexChange)="getWizardIndex($event)"
    (savingChange)="getSavedStatus($event)"
    [isSaved]="savedSuccessfully"
    [closable]="displayX"
  >
    <!--  Every side of the wizard needs to have the *isyWizardDirective. -->

    <!-- Step 1: ID Entry -->
    <!--  Use with a simple form -->
    <div *isyWizardDirective="'isyAngularWidgetsDemo.createObjectDialog.stepIdEntry' | translate">
      <div [formGroup]="idForm">
        <div class="grid mt-5">
          <div class="col-12">
            <isy-form-wrapper
              label="{{ 'isyAngularWidgetsDemo.labels.id' | translate }}"
              fieldId="person-id"
              [control]="idForm.get('id')! | formControl"
              [validationMessages]="{required: ''}"
            >
              <input
                id="person-id"
                type="text"
                class="w-full"
                pInputText
                [formControlName]="'id'"
                (focus)="onFormControlFocus(idForm.controls.id)"
              />
            </isy-form-wrapper>
          </div>
        </div>
      </div>
    </div>

    <!-- Step 2: Personal information -->
    <!--  Use with a custom component -->
    <form *isyWizardDirective="'isyAngularWidgetsDemo.createObjectDialog.stepPersonalInfo' | translate">
      <demo-persoenliche-informationen [form]="persoenlicheInformationenForm"> </demo-persoenliche-informationen>
    </form>

    <!-- Step 3: Birth information -->
    <!--  Use with a complex form -->
    <div *isyWizardDirective="'isyAngularWidgetsDemo.createObjectDialog.stepBirthInfo' | translate">
      <div [formGroup]="geburtsInformationenForm">
        <div class="grid mt-5">
          <div class="col-12">
            <isy-form-wrapper
              label="{{ 'isyAngularWidgetsDemo.labels.geburtsname' | translate }}"
              fieldId="geburtsname"
              [control]="geburtsInformationenForm.get('geburtsname')! | formControl"
              [validationMessages]="{required: ''}"
            >
              <input
                id="geburtsname"
                class="w-full"
                type="text"
                pInputText
                [formControlName]="'geburtsname'"
                (focus)="onFormControlFocus(geburtsInformationenForm.controls.geburtsname)"
              />
            </isy-form-wrapper>
          </div>
          <div class="col-12">
            <isy-form-wrapper
              label="{{ 'isyAngularWidgetsDemo.labels.geburtsort' | translate }}"
              fieldId="geburtsort"
              [control]="geburtsInformationenForm.get('geburtsort')! | formControl"
              [validationMessages]="{required: ''}"
            >
              <input
                id="geburtsort"
                class="w-full"
                type="text"
                pInputText
                [formControlName]="'geburtsort'"
                (focus)="onFormControlFocus(geburtsInformationenForm.controls.geburtsort)"
              />
            </isy-form-wrapper>
          </div>
          <div class="col-12">
            <isy-form-wrapper
              label="{{ 'isyAngularWidgetsDemo.labels.geburtsdatum' | translate }}"
              fieldId="geburtdatum"
              [control]="geburtsInformationenForm.get('geburtsdatum')! | formControl"
              [validationMessages]="{required: ''}"
            >
              <p-calendar
                inputId="geburtdatum"
                dateFormat="dd.mm.yy"
                [formControlName]="'geburtsdatum'"
                [iconDisplay]="'input'"
                [showIcon]="true"
                appendTo="body"
                styleClass="w-full"
                (focusout)="onFormControlFocus(geburtsInformationenForm.controls.geburtsdatum)"
              >
              </p-calendar>
            </isy-form-wrapper>
          </div>
          <div class="col-12">
            <isy-form-wrapper
              label="{{ 'isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate }}"
              fieldId="staatangehoerigkeit"
              [control]="geburtsInformationenForm.get('staatsangehoerigkeit')! | formControl"
              [validationMessages]="{required: ''}"
            >
              <p-dropdown
                inputId="staatangehoerigkeit"
                [ariaLabel]="'isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate"
                [placeholder]="'isyAngularWidgetsDemo.labels.chooseCountry' | translate"
                [showClear]="geburtsInformationenForm.controls.staatsangehoerigkeit.value === '' ? false : true"
                optionValue="name"
                optionLabel="name"
                [options]="countryMap"
                [formControlName]="'staatsangehoerigkeit'"
                appendTo="body"
                styleClass="w-full"
                (focusout)="onFormControlFocus(geburtsInformationenForm.controls.staatsangehoerigkeit)"
              >
                <ng-template let-land pTemplate="item">
                  <div class="country-item">
                    <span>{{ land.name }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </isy-form-wrapper>
          </div>
        </div>
      </div>
    </div>
  </isy-wizard>
}
