<p-panel [header]="('isyAngularWidgetsDemo.menuItems.searchObject' | translate)" [toggleable]="true"
         iconPos="start">
  <div class="grid m-0">
    <div class="col-1 text-right align-self-center">
      <label class="" for="id">ID</label>
    </div>
    <div class="col">
      <input pInputText
             id="id"
             type="text"
             class="w-full ng-invalid ng-dirt"
             [(ngModel)]="person.id"
      >
    </div>
    <div class="col-1"></div>
    <div class="col"></div>
    <div class="col-1"></div>
    <div class="col"></div>
  </div>

  <div class="grid m-0">
    <div class="col-1 text-right align-self-center">
      <label for="lastName">{{('isyAngularWidgetsDemo.labels.nachname' | translate)}}</label>
    </div>
    <div class="col">
      <input id="lastName" class="w-full" type="text" pInputText
             [(ngModel)]="person.personalien.nachname">
    </div>
    <div class="col-1 text-right align-self-center">
      <label class="align-content-end"
             for="birthName">{{('isyAngularWidgetsDemo.labels.geburtsname' | translate)}}</label>
    </div>
    <div class="col">
      <input id="birthName" class="w-full" type="text" pInputText
             [(ngModel)]="person.personalien.geburtsname">
    </div>
    <div class="col-1 text-right align-self-center">
      <label class="align-content-end"
             for="birthplace">{{('isyAngularWidgetsDemo.labels.geburtsname' | translate)}}</label>
    </div>
    <div class="col">
      <input id="birthplace" class="w-full" type="text" pInputText
             [(ngModel)]="person.personalien.geburtsort">
    </div>
  </div>

  <div class="grid m-0">
    <div class="col-1 text-right align-self-center">
      <label class="align-content-end"
             for="firstName">{{('isyAngularWidgetsDemo.labels.vorname' | translate)}}</label>
    </div>
    <div class="col">
      <input id="firstName" class="w-full" type="text" pInputText
             [(ngModel)]="person.personalien.vorname">
    </div>
    <div class="col-1 text-right align-self-center">
      <label class="align-content-end"
             for="gender">{{('isyAngularWidgetsDemo.labels.geschlecht' | translate)}}</label>
    </div>
    <div class="col">
      <input id="gender" class="w-full" type="text" pInputText
             [(ngModel)]="person.personalien.geschlecht">
    </div>
    <div class="col-1 text-right align-self-center">
      <label class="align-content-end"
             for="birthDate">{{('isyAngularWidgetsDemo.labels.geburtsdatum' | translate)}}</label>
    </div>
    <div class="col">
      <p-calendar id="birthDate"
                  dateFormat="dd.mm.yy"
                  [(ngModel)]="person.personalien.geburtsdatum"
                  [showIcon]="true"
      >
      </p-calendar>
    </div>
  </div>

  <div class="grid m-0">
    <div class="col-1 text-right align-self-center">
      <label class="align-content-end"
             for="nationality">{{('isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate)}}</label>
    </div>
    <div class="col-3">
      <p-dropdown id="nationality"
                  [placeholder]="('isyAngularWidgetsDemo.labels.chooseCountry' | translate)"
                  [options]="laender"
                  [(ngModel)]="person.personalien.staatsangehoerigkeit"
                  [showClear]="true"
      >
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value"
               *ngIf="person.personalien.staatsangehoerigkeit">
            <div>{{person.personalien.staatsangehoerigkeit}}</div>
          </div>
        </ng-template>
        <ng-template let-land pTemplate="item">
          <div class="country-item">
            <div>{{land}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="col-1 text-right align-self-center"></div>
    <div class="col"></div>
    <div class="col-1 text-right align-self-center"></div>
    <div class="col"></div>
  </div>

  <div class="flex justify-content-end p-2">
    <p-button
      class="mr-1"
      [label]="('isyAngularWidgetsDemo.actions.search' | translate)"
      [iconPos]="'left'"
      [icon]="'pi pi-search'"
      (onClick)="findPerson()"
    >
    </p-button>
    <p-button
      [label]="('isyAngularWidgetsDemo.actions.clearSeebach' | translate)"
      [iconPos]="'left'"
      [disabled]="!enableClearSearch()"
      (onClick)="clearSearch()"
    >
    </p-button>
  </div>
</p-panel>

<demo-result-list
  *ngIf="personen$ | async as personen"
  [personen]="personen"
  [selectedObject]="selectedPerson"
  (edit)="editSelectedPerson($event)"
  (create)="openAddNewObjectDialog()"
  [loading]="tbLoadingStatus"
>
</demo-result-list>

<p-dialog
  [header]="('isyAngularWidgetsDemo.editObjectDialog.header' | translate)"
  [(visible)]="openEditForm"
  [modal]="modal"
  [style]="{
    width: width + 'vw'
  }"
>
  <div [formGroup]="editForm" *ngIf="selectedPerson && editForm">
    <div class="grid m-0">
      <div class="col-1 text-right align-self-center">
        <label for="editID">ID</label>
      </div>
      <div class="col">
        <input id="editID" class="w-full" type="text" pInputText [formControlName]="'editID'"/>
      </div>
      <div class="col-1"></div>
      <div class="col"></div>
      <div class="col-1"></div>
      <div class="col"></div>
    </div>
    <div class="grid m-0">
      <div class="col-1 text-right align-self-center">
        <label for="editNachname">
          {{('isyAngularWidgetsDemo.labels.nachname' | translate)}}
        </label>
      </div>
      <div class="col">
        <input id="editNachname" class="w-full" type="text" pInputText
               [formControlName]="'editNachname'">
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="editGeburtsname">
          {{('isyAngularWidgetsDemo.labels.geburtsname' | translate)}}
        </label>
      </div>
      <div class="col">
        <input id="editGeburtsname" class="w-full" type="text" pInputText
               [formControlName]="'editGeburtsname'">
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="editGeburtsname">
          {{('isyAngularWidgetsDemo.labels.geburtsname' | translate)}}
        </label>
      </div>
      <div class="col">
        <input id="editGeburtsort" class="w-full" type="text" pInputText
               [formControlName]="'editGeburtsort'">
      </div>
    </div>
    <div class="grid m-0">
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="editVorname">
          {{('isyAngularWidgetsDemo.labels.vorname' | translate)}}
        </label>
      </div>
      <div class="col">
        <input id="editVorname" class="w-full" type="text" pInputText
               [formControlName]="'editVorname'">
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="editGeschlecht">
          {{('isyAngularWidgetsDemo.labels.geschlecht' | translate)}}
        </label>
      </div>
      <div class="col">
        <input id="editGeschlecht" class="w-full" type="text" pInputText
               [formControlName]="'editGeschlecht'">
      </div>
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="editGeburtsdatum">
          {{('isyAngularWidgetsDemo.labels.geburtsdatum' | translate)}}
        </label>
      </div>
      <div class="col">
        <p-calendar
          id="editGeburtsdatum"
          dateFormat="dd.mm.yy"
          [formControlName]="'editGeburtsdatum'"
          [showIcon]="true"
        >
        </p-calendar>
      </div>
    </div>
    <div class="grid m-0">
      <div class="col-1 text-right align-self-center">
        <label class="align-content-end" for="editStaatsangehörigkeit">
          {{('isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate)}}
        </label>
      </div>
      <div class="col-3">
        <p-dropdown id="editStaatsangehörigkeit"
                    [placeholder]="('isyAngularWidgetsDemo.labels.chooseCountry' | translate)"
                    [options]="laender"
                    [showClear]="true"
                    [formControlName]="'editStaatsangehoerigkeit'"
        >
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value"
                 *ngIf="selectedPerson!.personalien.staatsangehoerigkeit">
              <div>{{selectedPerson!.personalien.staatsangehoerigkeit}}</div>
            </div>
          </ng-template>
          <ng-template let-land pTemplate="item">
            <div class="country-item">
              <div>{{land}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="flex justify-content-end flex-wrap card-container pt-2">
      <p-button class="flex align-items-center justify-content-center mr-1"
                [label]="('isyAngularWidgetsDemo.actions.save' | translate)"
                (onClick)="saveChanges()"
                [disabled]="!editForm.valid || !allowSave"
      >
      </p-button>
      <p-button class="flex align-items-center justify-content-center mr-1"
                [label]="('isyAngularWidgetsDemo.actions.close' | translate)"
                (onClick)="displayEditDialog()"
      >
      </p-button>
    </div>
  </div>
</p-dialog>

<isy-wizard *ngIf="openWizard"
            [width]="50"
            [height]="30"
            [headerTitle]="('isyAngularWidgetsDemo.createObjectDialog.header' | translate)"
            [allowNext]="isFormValid"
            [(isVisible)]="openWizard"
            (isVisibleChange)="onWizardClose($event)"
            (stepperIndexChange)="getWizardIndex($event)"
            (savingChange)="getSavedStatus($event)"
            [isSaved]="savedSuccessfully"
            [closable]="displayX"
>
  <!--  Every side of the wizard needs to have the *isyWizardDirective. -->

  <!-- Step 1: ID Entry -->
  <!--  Use with a simple form -->
  <div *isyWizardDirective="('isyAngularWidgetsDemo.createObjectDialog.stepIdEntry' | translate)">
    <div [formGroup]="idForm">
      <div class="formgrid grid">
        <div class="col align-content-end">
          <div class="col">
            <div class="field">
              <label id="idLabel" for="personId">ID*</label>
              <input id="personId" class="w-full" type="text" pInputText [formControlName]="'id'"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Step 2: Personal information -->
  <!--  Use with a custom component -->
  <form
    *isyWizardDirective="('isyAngularWidgetsDemo.createObjectDialog.stepPersonalInfo' | translate)">
    <demo-persoenliche-informationen
      [form]="persoenlicheInformationenForm"
    >
    </demo-persoenliche-informationen>
  </form>

  <!-- Step 3: Birth information -->
  <!--  Use with a complex form -->
  <div *isyWizardDirective="('isyAngularWidgetsDemo.createObjectDialog.stepBirthInfo' | translate)">
    <div class="formgrid grid">
      <div class="col align-content-end">
        <div [formGroup]="geburtsInformationenForm">
          <div class="col">
            <div class="field">
              <label id="geburtsnameLabel" class="align-content-end" for="geburtname">
                {{('isyAngularWidgetsDemo.labels.geburtsname' | translate)}}
              </label>
              <input id="geburtname" class="w-full" type="text" pInputText
                     [formControlName]="'geburtsname'">
            </div>
            <div class="field">
              <label id="geburtsortLabel" class="align-content-end"
                     for="geburtort">
                {{('isyAngularWidgetsDemo.labels.geburtsname' | translate)}}
              </label>
              <input id="geburtort" class="w-full" type="text" pInputText
                     [formControlName]="'geburtsort'">
            </div>
          </div>

          <div class="col">
            <div class="field">
              <label id="staatsangehoerigkeitLabel" class="align-content-end"
                     for="staatangehoerigkeit">
                {{('isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate)}}
              </label>
              <p-dropdown id="staatangehoerigkeit"
                          [placeholder]="('isyAngularWidgetsDemo.labels.chooseCountry' | translate)"
                          [showClear]="true"
                          optionValue="name"
                          optionLabel="name"
                          [options]="countryMap"
                          [formControlName]="'staatsangehoerigkeit'"
                          [styleClass]="'w-full'"
              >
                <ng-template let-land pTemplate="item">
                  <div class="country-item">
                    <div>{{land.name}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="field">
              <label id="geburtsdatumLabel" class="align-content-end" for="geburtdatum">
                {{('isyAngularWidgetsDemo.labels.geburtsdatum' | translate)}}
              </label>
              <p-calendar
                id="geburtdatum"
                dateFormat="dd.mm.yy"
                [formControlName]="'geburtsdatum'"
                [showIcon]="true"
                [styleClass]="'w-full'"
              >
              </p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</isy-wizard>

<p-toast
  id="notificationToast"
  position="top-right"
>
</p-toast>
