<div class="mx-3">
  <h1>PrimeNG Menus</h1>
  <h2>Content Splitter</h2>
  <div class="grid">
    <div class="col-12 flex-column gap-2">
      <h3>Breadcrumb</h3>
      <p-breadcrumb [home]="{icon: 'pi pi-home'}" [model]="electronics"></p-breadcrumb>
    </div>
    <div class="col-12 flex-column gap-2">
      <h3>Steps</h3>
      <p-steps
        [model]="stepItem"
        [readonly]="false"
        [activeIndex]="activeIndex"
        (activeIndexChange)="onActiveIndexChange($event)"
      ></p-steps>
    </div>
    <div class="col-12 flex-column gap-2">
      <h3>TabMenu</h3>
      <p-tabs>
        <p-tablist>
          @for (tab of tabMenuOption; track tab.route) {
            <p-tab [value]="tab.route" routerLink="tab.route">
              <i [class]="tab.icon"></i>
              <span>{{ tab.label }}</span>
            </p-tab>
          }
        </p-tablist>
      </p-tabs>
    </div>
  </div>
  <p-divider></p-divider>
  <h2>Navigation Menu</h2>
  <div class="grid">
    <div class="col-12 flex-column gap-2">
      <h3>MenuBar</h3>
      <p-menubar id="menuBar" [model]="menuBarOption"></p-menubar>
    </div>
    <div class="col-12 flex-column gap-2">
      <h3>MegaMenu</h3>
      <p-megamenu id="megaMenu" [model]="megaMenuOptions"></p-megamenu>
    </div>
    <div class="col-12 flex-column gap-2">
      <h3>PanelMenu</h3>
      <p-panelmenu id="panelMenu" [model]="fileContainerOptions"></p-panelmenu>
    </div>
    <div class="col-12 flex-column gap-2">
      <h3>TieredMenu</h3>
      <p-tieredmenu id="tieredMenu" [model]="fileContainerOptions"></p-tieredmenu>
    </div>
  </div>
  <p-divider></p-divider>
  <h2>Other Menus</h2>
  <div class="grid mb-3">
    <div class="col-12 md:col-6 flex-column gap-2">
      <h3>ContextMenu</h3>
      <img #logo ngSrc="assets/default-application-logo.jpg" alt="Logo" aria-haspopup="true" height="150" width="335" />
      <p-contextMenu id="contextMenu" [target]="logo" [model]="contextMenuOption"></p-contextMenu>
    </div>
    <div class="col-12 md:col-6 flex-column gap-2">
      <h3>Menu</h3>
      <p-menu id="menu" [model]="option" styleClass="w-full"></p-menu>
    </div>
  </div>
</div>
