<isy-hauptfenster
  logoAwl="../assets/default-application-logo.jpg"
  logoAnbieterAwl="../assets/default-vendor-logo.png"
  [showLinksnavigation]="true"
  [showInformationsbereich]="false"
  linksNavigationWidth="15em"
  [items]="items"
  [userInfo]="userInfo"
>
  <div Linksnavigation>
    <p-panelMenu [model]="sidebarItems"></p-panelMenu>
  </div>
  <router-outlet></router-outlet>
  <div Informationsbereich>
  </div>
  <div Hauptnavigation-Tools>
    <p-dropdown
      id="language-selector"
      class="ml-2"
      [options]="translate.getLangs()"
      [(ngModel)]="selectedLanguage"
      (onChange)="changeLanguage($event.value)"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
          <span [class]="'fi fi-' + getLanguageIcon(selectedLanguage)"></span>
          <div>{{ ('isyAngularWidgetsDemo.settings.languages.' + selectedLanguage | translate) }}</div>
        </div>
      </ng-template>
      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span [class]="'fi fi-' + getLanguageIcon(language)"></span>
          <div>{{ ('isyAngularWidgetsDemo.settings.languages.' + language | translate) }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</isy-hauptfenster>
<p-toast
  id="notificationToast"
  position="top-right"
>
</p-toast>
