<isy-hauptfenster
  logoAwl="../assets/default-application-logo.jpg"
  logoAnbieterAwl="../assets/default-vendor-logo.png"
  [showLinksnavigation]="true"
  [showInformationsbereich]="true"
  linksNavigationWidth="15em"
  [items]="items"
  [userInfo]="userInfo"
>
  <!--  The Isy-Hauptfenster is the main frame of isy-angular-widgets. It provides three regions to be filled,
        like in the following example. The side bar regions can be disabled with corresponding parameters. -->
  <div Linksnavigation>
    <!--    The Linksnavigation is the left side bar. You could build some kind of menu here. -->
    <p-panelMenu [model]="sidebarItems"></p-panelMenu>

    <router-outlet name="linksnavigation"></router-outlet>
  </div>
  <!--  The region without a tag is the content region, to be filled by the router. -->
  <div Informationsbereich>
    <!--    The Informationsbereich is the right side bar. -->
    <router-outlet name="informationsbereich"></router-outlet>
  </div>
  <div Hauptnavigation-Tools>
    <!--    The Hauptnavigation-Tools are a region within the Menu and could for example be used for a language selector. -->
    <p-dropdown
      id="language-selector"
      class="ml-2"
      [options]="translate.getLangs()"
      [(ngModel)]="selectedLanguage"
      (onChange)="changeLanguage($event.value)"
      [ariaLabel]="'isyAngularWidgetsDemo.settings.languages.label' | translate"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
          <span [class]="'fi fi-' + getLanguageIcon(selectedLanguage)"></span>
          <div>{{ 'isyAngularWidgetsDemo.settings.languages.' + selectedLanguage | translate }}</div>
        </div>
      </ng-template>
      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span [class]="'fi fi-' + getLanguageIcon(language)"></span>
          <div>{{ 'isyAngularWidgetsDemo.settings.languages.' + language | translate }}</div>
        </div>
      </ng-template>
    </p-dropdown>

    <p-dropdown
      id="permissions-dropdown"
      class="ml-2"
      optionLabel="role"
      dataKey="role"
      optionValue="permission"
      [ariaLabel]="'isyAngularWidgetsDemo.settings.languages.label' | translate"
      [options]="dropdownPermissionsData"
      (onChange)="selectPermission($event.value)"
    >
    </p-dropdown>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</isy-hauptfenster>
<p-toast id="notification-toast" position="top-right">
  <!--  To define the (global) space where toast notifications will occur. -->
</p-toast>
