<h1>PrimeNG Messages</h1>
<div class="grid">
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading anchorId="messages" [level]="2" label="Messages" ariaLabel="Link zu Messages" />
    @for (message of messages; track message.key) {
      <p-message
        [severity]="
          message.severity === 'success' ||
          message.severity === 'info' ||
          message.severity === 'warn' ||
          message.severity === 'secondary' ||
          message.severity === 'contrast' ||
          message.severity === 'error'
            ? message.severity
            : undefined
        "
        [closable]="false"
        >{{ message.detail }}</p-message
      >
    }
  </div>
  <div class="col-12 flex flex-column gap-2">
    <demo-section-heading anchorId="toast" [level]="2" label="Toast" ariaLabel="Link zu Toast" />
    <p-button (onClick)="showToastMessage()" label="Show" />
    <p-toast key="toast" position="bottom-right" />
  </div>
</div>
