<div class="mx-3">
  <h1>PrimeNG Messages</h1>
  <div class="grid">
    <div class="col-12 md:col-6 flex-column gap-2">
      <h2>Messages</h2>
      @for (message of messages; track message.key) {
        <p-message
          [severity]="
            message.severity === 'success' ||
            message.severity === 'info' ||
            message.severity === 'warn' ||
            message.severity === 'secondary' ||
            message.severity === 'contrast' ||
            message.severity === 'error'
              ? message.severity
              : undefined
          "
          [closable]="false"
          >{{ message.detail }}</p-message
        >
      }
    </div>
    <div class="col-12 md:col-6 flex-column gap-2">
      <h2>Toast</h2>
      <p-button (onClick)="showToastMessage()" label="Show" />
      <p-toast key="toast" position="bottom-right" />
    </div>
  </div>
</div>
