#spacer {
  height: 0.5rem;
}

.blue-background {
  border: 1px solid var(--p-blue-200);
  background-color: var(--p-blue-200);
}

.pink-background {
  border: 1px solid var(--p-pink-200);
  background-color: var(--p-pink-200);
}

.orange-background {
  border: 1px solid var(--p-orange-200);
  background-color: var(--p-orange-200);
}

.yellow-background {
  border: 1px solid var(--p-yellow-200);
  background-color: var(--p-yellow-200);
}
