#spacer {
  height: 0.5rem;
}

.blue-background {
  background-color: var(--blue-200);
}

.pink-background {
  background-color: var(--pink-200);
}

.orange-background {
  background-color: var(--orange-200);
}

.yellow-background {
  background-color: var(--yellow-200);
}
