<div class="demo-print-page flex flex-col p-4">
  <h1>PrimeNG File</h1>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 flex flex-col gap-2">
      <demo-section-heading anchorId="fileupload" [level]="2" label="FileUpload" ariaLabel="Link zu FileUpload" />
      <p-fileupload
        mode="basic"
        chooseIcon="pi pi-upload"
        chooseLabel="FileUpload"
        name="fileUploadExample"
        url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*,.pdf,.txt"
        [maxFileSize]="1000000"
        (onUpload)="onUpload($event)"
      />
    </div>
  </div>
</div>
