<p-panel
  iconPos="start"
  [header]="'isyAngularWidgetsDemo.displayObject.masterDataHeader' | translate"
  [toggleable]="true"
>
  <div class="grid mt-1 align-items-center">
    <div class="col-12 lg:col-6 xl:col-4 py-0">
      <div class="grid p-1 align-items-center">
        <label for="basis-nachname" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
          {{ 'isyAngularWidgetsDemo.labels.nachname' | translate }}
        </label>
        <div class="col-12 sm:col-8 md:col-7 lg:col-6">
          <input
            id="basis-nachname"
            class="w-full"
            type="text"
            pInputText
            disabled
            [(ngModel)]="person.personalien.nachname"
          />
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4 py-0">
      <div class="grid p-1 align-items-center">
        <label for="basis-vorname" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
          {{ 'isyAngularWidgetsDemo.labels.vorname' | translate }}
        </label>
        <div class="col-12 sm:col-8 md:col-7 lg:col-6">
          <input
            id="basis-vorname"
            class="w-full"
            type="text"
            pInputText
            disabled
            [(ngModel)]="person.personalien.vorname"
          />
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4 py-0">
      <div class="grid p-1 align-items-center">
        <label for="basis-geburtsdatum" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
          {{ 'isyAngularWidgetsDemo.labels.geburtsdatum' | translate }}
        </label>
        <div class="col-12 sm:col-8 md:col-7 lg:col-6">
          <input
            id="basis-geburtsdatum"
            class="w-full"
            type="text"
            pInputText
            disabled
            [(ngModel)]="person.personalien.geburtsdatum"
          />
        </div>
      </div>
    </div>
  </div>
</p-panel>

<p-tabView id="tab-view">
  <p-tabPanel id="panel-personalien" [header]="'isyAngularWidgetsDemo.displayObject.tabPersonalData' | translate">
    <form [formGroup]="personalInfoForm">
      <div class="grid mt-1 align-items-center">
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="first-name" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.vorname' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input
                id="first-name"
                formControlName="firstName"
                class="w-full"
                required
                minlength="2"
                type="text"
                pInputText
              />
              <small class="p-error block" *ngIf="personalInfoForm.controls['firstName'].invalid">
                {{ 'isyAngularWidgetsDemo.messages.requiredMessage' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="last-name" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.nachname' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input id="last-name" formControlName="lastName" type="text" pInputText isyInputChar />
              <small
                class="p-error block"
                *ngIf="personalInfoForm.controls['lastName'].invalid && personalInfoForm.controls['lastName'].touched"
              >
                {{ 'isyAngularWidgetsDemo.messages.requiredMessage' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="birth-name" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.geburtsname' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input id="birth-name" formControlName="birthName" type="text" pInputText isyInputChar />
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="birth-place" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.geburtsort' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input id="birth-place" formControlName="birthplace" class="w-full" type="text" pInputText />
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="gender" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.geschlecht' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <p-dropdown
                inputId="gender"
                formControlName="gender"
                [filter]="true"
                filterBy="name"
                [options]="[
                  'isyAngularWidgetsDemo.labels.optionMale' | translate,
                  'isyAngularWidgetsDemo.labels.optionFemale' | translate,
                  'isyAngularWidgetsDemo.labels.optionDivers' | translate
                ]"
                styleClass="w-full"
                appendTo="body"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="birth-date" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.geburtsdatum' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <p-calendar
                inputId="birth-date"
                dateFormat="dd.mm.yy"
                formControlName="birthDate"
                [showIcon]="true"
                styleClass="w-full"
                appendTo="body"
              >
              </p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="nationality" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.staatsangehoerigkeit' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input id="nationality" formControlName="nationality" class="w-full" type="text" pInputText />
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="phone-number" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.telefonnummer' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <p-inputMask
                inputId="phone-number"
                formControlName="phoneNumber"
                type="text"
                styleClass="w-full"
                mask="+99 9999 / 9999999"
              >
              </p-inputMask>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="date-of-entry" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.einreisedatum' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <isy-incomplete-date inputId="date-of-entry" formControlName="dateOfEntry" [dateInPastConstraint]="true">
              </isy-incomplete-date>
              <small
                class="p-error block"
                *ngIf="
                  personalInfoForm.controls['dateOfEntry'].invalid &&
                  (personalInfoForm.controls['dateOfEntry'].touched || personalInfoForm.controls['dateOfEntry'].dirty)
                "
              >
                {{ 'isyAngularWidgetsDemo.messages.inputUnspecifiedError' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="date-of-departure" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.abreisedatum' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input id="date-of-departure" formControlName="dateOfDeparture" class="w-full" type="text" pInputText />
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="passport-expiration-date" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.ablaufdatumReisepass' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <p-calendar
                inputId="passport-expiration-date"
                dateFormat="dd.mm.yy"
                formControlName="passportExpirationDate"
                [showIcon]="true"
                styleClass="w-full"
                appendTo="body"
              >
              </p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="credit-card-number" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.kreditkartennummer' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input id="credit-card-number" formControlName="creditCardNumber" class="w-full" type="text" pInputText />
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="credit-card-expiration-date" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.ablaufdatumKreditkarte' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <input
                id="credit-card-expiration-date"
                formControlName="creditCardExpirationDate"
                class="w-full"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4 py-0">
          <div class="grid p-1 align-items-center">
            <label for="identity-document" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
              {{ 'isyAngularWidgetsDemo.labels.identityDocument' | translate }}
            </label>
            <div class="col-12 sm:col-8 md:col-7 lg:col-6">
              <p-fileUpload
                id="identity-document"
                formControlName="identityDocument"
                ngDefaultControl
                [name]="'myfile'"
                [accept]="'image/*,.pdf,.txt'"
                [auto]="true"
                [maxFileSize]="1000000"
                [customUpload]="true"
                (uploadHandler)="uploadFile($event)"
              >
              </p-fileUpload>
            </div>
          </div>
        </div>
      </div>

      <div class="field field-checkbox my-5">
        <p-inputSwitch inputId="show-secret-fields" (onChange)="showSecretFields = $event.checked"></p-inputSwitch>
        <label for="show-secret-fields" class="m-0 ml-3">
          {{ 'isyAngularWidgetsDemo.actions.showSecretFields' | translate }}
        </label>
      </div>

      <div id="div-show-secret-fields" *ngIf="showSecretFields">
        <div class="grid m-0 align-items-center">
          <div class="col-12 lg:col-6 xl:col-4 py-0">
            <div class="grid p-1 align-items-center">
              <label for="id-required" class="col-4 md:col-5 lg:col-6 sm:text-right text-left">
                {{ 'isyAngularWidgetsDemo.labels.ausweispflichtig' | translate }}
              </label>
              <div class="col-8 md:col-7 lg:col-6">
                <p-checkbox id="id-required" formControlName="idRequired" [binary]="true"> </p-checkbox>
              </div>
            </div>
          </div>
          <div class="col-12 lg:col-6 xl:col-4 py-0">
            <div class="grid p-1 align-items-center">
              <label for="security-level" class="col-12 sm:col-4 md:col-5 lg:col-6 sm:text-right text-left">
                {{ 'isyAngularWidgetsDemo.labels.sicherheitsstufe' | translate }}
              </label>
              <div class="col-12 sm:col-8 md:col-7 lg:col-6">
                <p-inputNumber
                  id="security-level"
                  formControlName="securityLevel"
                  [showButtons]="true"
                  [min]="0"
                  [max]="9"
                  class="w-full"
                  styleClass="w-full"
                  inputStyleClass="w-full"
                >
                </p-inputNumber>
              </div>
            </div>
          </div>
          <div class="col-12 lg:col-12 md:col-12 py-0">
            <div class="grid p-1 align-items-center">
              <label
                for="intelligence-notes"
                class="col-12 sm:col-4 md:col-5 lg:col-3 xl:col-2 sm:text-right text-left"
              >
                {{ 'isyAngularWidgetsDemo.labels.geheimdienstnotizen' | translate }}
              </label>
              <div class="col-12 sm:col-8 md:col-7 lg:col-9 xl:col-6">
                <textarea
                  pInputTextarea
                  id="intelligence-notes"
                  formControlName="intelligenceNotes"
                  class="w-full"
                  [rows]="5"
                >
                </textarea>
                <small class="p-error block" *ngIf="personalInfoForm.controls['intelligenceNotes'].invalid">
                  {{
                    'isyAngularWidgetsDemo.messages.maxLengthError' | translate: {numChars: intelligenceNotesMaxLength}
                  }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="justify-content-center flex mt-3">
      <button
        pButton
        *ngIf="personalInfoForm.disabled"
        id="button-edit"
        icon="pi pi-user-edit"
        iconPos="left"
        [label]="'isyAngularWidgetsDemo.actions.edit' | translate"
        (click)="personalInfoForm.enable()"
      ></button>
      <div id="div-save-cancel" *ngIf="!personalInfoForm.disabled" class="p-buttonset">
        <button
          pButton
          id="button-save"
          icon="pi pi-save"
          iconPos="left"
          [disabled]="!personalInfoForm.valid"
          [label]="'isyAngularWidgetsDemo.actions.save' | translate"
          (click)="savePersonalien()"
        ></button>
        <button
          pButton
          id="button-cancel"
          icon="pi pi-times"
          class="p-button-outlined"
          iconPos="left"
          [label]="'isyAngularWidgetsDemo.actions.cancel' | translate"
          (click)="this.personalInfoForm.disable()"
        ></button>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel id="panel-sachverhalte" [header]="'isyAngularWidgetsDemo.displayObject.tabFacts' | translate">
    <p-table [value]="person.sachverhalte" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <p-button
          icon="pi pi-pencil"
          iconPos="left"
          [label]="'isyAngularWidgetsDemo.actions.addOrEditFact' | translate"
        >
        </p-button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">
            {{ 'isyAngularWidgetsDemo.labels.sachverhalte' | translate }}
          </th>
          <th scope="col">
            {{ 'isyAngularWidgetsDemo.labels.state' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sachverhalt>
        <tr>
          <td>{{ sachverhalt }}</td>
          <td>
            {{ 'isyAngularWidgetsDemo.labels.solved' | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <demo-dialog-sachverhalte-bearbeiten [person]="person"> </demo-dialog-sachverhalte-bearbeiten>
  </p-tabPanel>
</p-tabView>
<p-toast></p-toast>
