:host ::ng-deep .p-fileupload .p-fileupload-buttonbar {
  width: 100%;
  background: transparent;
  padding: 0;
  border: 0;
}

:host ::ng-deep .p-fileupload .p-fileupload-content {
  padding: 0;
  border-color: transparent;
}

:host ::ng-deep .p-fileupload-files {
  border-color: black;
}

:host ::ng-deep div[data-pc-name='inputgroupaddon'] {
  width: 100%;
}

:host ::ng-deep p-fieldset {
  position: relative;
}

:host ::ng-deep .address-delete-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
}
